<!-- Модальное окно: Графики трафика -->
<div class="modal fade" id="chartsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Traffic Charts (MB/s)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <canvas id="trafficChartModal" height="120" class="w-100"></canvas>
      </div>
    </div>
  </div>
</div>
