<!-- Модальное окно: Детали клиента -->
<div class="modal fade" id="clientDetailsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientDetailsTitle">Client details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body" id="clientDetailsBody">
        <div class="text-muted">Select a client to see details.</div>
      </div>
    </div>
  </div>
</div>
